# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Visual studio files
*.sln
*.VC.db
*.vcxproj
*.vcxproj.filters
*.VC.VC.opendb
*.suo
*.pdb
*.log
*.idb
*.ilk
*.tlog
